@model _1stream.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>*@

<div id="box_sign">
    <div class="container">
        <div class="span12 box_wrapper">
            <div class="span12 box">
                <div>
                    <div class="head">
                        <h4>Create your account</h4>
                    </div>
                    <div class="form">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email" })
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
                            <input type="submit" class="btn" value="Sign up" />
                        }
                    </div>
                </div>
            </div>
            <p class="already">
                Already have an account? 
                  
                @Html.ActionLink("Sign in", "Login")
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
