@model OneStream.Models.Channel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Channel</legend>

    <div class="display-label">UserId</div>
    <div class="display-field">@Model.UserId</div>

    <div class="display-label">UserProfile</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.UserProfile).ToString()</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Status</div>
    <div class="display-field">@Model.Status</div>

    <div class="display-label">WatchersCount</div>
    <div class="display-field">@Model.WatchersCount</div>

    <div class="display-label">ChatEnable</div>
    <div class="display-field">@Model.ChatEnable</div>

    <div class="display-label">FeedbackBroadcaster</div>
    <div class="display-field">@Model.FeedbackBroadcaster</div>

    <div class="display-label">FeedbackSms</div>
    <div class="display-field">@Model.FeedbackSms</div>

    <div class="display-label">FeedbackMail</div>
    <div class="display-field">@Model.FeedbackMail</div>

    <div class="display-label">FeedbackCabinet</div>
    <div class="display-field">@Model.FeedbackCabinet</div>

    <div class="display-label">CustomLogo</div>
    <div class="display-field">@Model.CustomLogo</div>

    <div class="display-label">FreeStreming</div>
    <div class="display-field">@Model.FreeStreming</div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedOn)</div>

    <div class="display-label">UpdatedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.UpdatedOn)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ChannelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


