@model IEnumerable<_1stream.Models.Tariff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            UpdatedBy
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            UpdatedOn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TariffId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TariffId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TariffId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:F}", item.Amount)
        </td>
        <td>
			@item.CreatedBy
        </td>
        <td>
			@item.UpdatedBy
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedOn)
        </td>
        <td>
			@String.Format("{0:g}", item.UpdatedOn)
        </td>
    </tr>
}

</table>


