@using System.Globalization
@using OneStream.Models
@model DateTime?

@{
    string name = ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name + "_field";
}

<div id="@id" class="input-append">
    @{
        DateTime date = Model.HasValue ? Model.Value : DateTime.Now;
     } 
    <input name="@name" data-format="@Constants.DateTimeFormat" type="text" readonly="readonly" value="@date.ToString(@Constants.DateTimeFormat)"/>

    <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@id").datetimepicker
            ({
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "left"]
                }
            });
    });
</script>
