@model OneStream.Models.Broadcast

@{
    ViewBag.Title = "Edit Broadcast";
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(model => model.BroadcastId)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
